In [1]:
import pandas as pd

# TWO MAIN DATATYPES

### series = 1-dimensional

In [8]:
series = pd.Series(["BMW", "Toyota", "Honda"])

In [3]:
series

0       BMW
1    Toyota
2     Honda
dtype: object

In [5]:
colours = pd.Series(["Red", "Blue", "White"])

In [6]:
colours

0      Red
1     Blue
2    White
dtype: object

### dataframe = 2-dimensional

In [9]:
car_data = pd.DataFrame({"Car make:": series, "Colour": colours})

In [10]:
car_data

  Car make: Colour
0       BMW    Red
1    Toyota   Blue
2     Honda  White

### Importing data

In [13]:
car_sales = pd.read_csv("data/car-sales.csv")

In [14]:
car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

### Exporting a dataframe
If we won't write index=False, the index column will be not exported as a data

In [20]:
car_sales.to_csv("data/exported-car-sales.csv", index=False)  # available also for excel

In [19]:
exported_car_sales = pd.read_csv("data/exported-car-sales.csv")
exported_car_sales

   Unnamed: 0    Make Colour  Odometer (KM)  Doors       Price
0           0  Toyota  White         150043      4   $4,000.00
1           1   Honda    Red          87899      4   $5,000.00
2           2  Toyota   Blue          32549      3   $7,000.00
3           3     BMW  Black          11179      5  $22,000.00
4           4  Nissan  White         213095      4   $3,500.00
5           5  Toyota  Green          99213      4   $4,500.00
6           6   Honda   Blue          45698      4   $7,500.00
7           7   Honda   Blue          54738      4   $7,000.00
8           8  Toyota  White          60000      4   $6,250.00
9           9  Nissan  White          31600      4   $9,700.00

### Importing data from URL
Example:

In [21]:
heart_disease = pd.read_csv("https://raw.githubusercontent.com/mrdbourke/zero-to-mastery-ml/master/data/heart-disease.csv")

Note: If using a link from GitHub, make sure it's in the "raw" format.

# DESCRIBING DATA

### Attribute - some meta-data (no brackets after)

In [23]:
car_sales.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price            object
dtype: object

In [24]:
car_sales.columns

Index(['Make', 'Colour', 'Odometer (KM)', 'Doors', 'Price'], dtype='object')

In [26]:
car_columns = car_sales.columns
car_columns

Index(['Make', 'Colour', 'Odometer (KM)', 'Doors', 'Price'], dtype='object')

In [27]:
car_sales.index

RangeIndex(start=0, stop=10, step=1)

### describe() -> gives some basic information about numerical columns

In [29]:
car_sales.describe()

       Odometer (KM)      Doors
count      10.000000  10.000000
mean    78601.400000   4.000000
std     61983.471735   0.471405
min     11179.000000   3.000000
25%     35836.250000   4.000000
50%     57369.000000   4.000000
75%     96384.500000   4.000000
max    213095.000000   5.000000

### info() -> all information (class, index, columns, type of data, memory usage) [dtypes + index]

In [30]:
car_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Make           10 non-null     object
 1   Colour         10 non-null     object
 2   Odometer (KM)  10 non-null     int64
 3   Doors          10 non-null     int64
 4   Price          10 non-null     object
dtypes: int64(2), object(3)
memory usage: 532.0+ bytes

### mean(numeric_only=True) -> will throw error when the dataframe consist of other data type then numerical, so there is a need to involve a parameter to this function numeric_only

In [33]:
car_sales.mean(numeric_only=True)

Odometer (KM)    78601.4
Doors                4.0
dtype: float64

In [34]:
car_prices = pd.Series([3000, 1500, 111250])
car_prices.mean()

38583.333333333336

In [35]:
car_sales.sum()

Make             ToyotaHondaToyotaBMWNissanToyotaHondaHondaToyo...
Colour               WhiteRedBlueBlackWhiteGreenBlueBlueWhiteWhite
Odometer (KM)                                               786014
Doors                                                           40
Price            $4,000.00$5,000.00$7,000.00$22,000.00$3,500.00...
dtype: object

In [36]:
car_sales["Doors"].sum()

40

In [ ]:
len(